@model Knigo.Data.Models.Category

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="List">Назад</a>
</div>
